:root {
    --black: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 2.4rem;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav__list-item a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.8rem;
}

.nav__list-item a:hover {
    text-decoration: underline;
}

.about {
    display: flex;
    gap: 40px;
}

.about .title {
    margin-top: 24px;
    font-size: 2rem;
}

.about__photo {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
}

.about__content {
    width: 100%;
}

.about .works {
    margin-top: 6px;
}

.about .works a {
    color: cornflowerblue;
}

.about__text {
    margin-top: 10px;
}

.about__contacts {
    margin: 16px 0;
    display: flex;
    gap: 8px;
    list-style: none;
}

.skills__item {
    margin-top: 8px;
}

.skills__item ul {
    margin-top: 4px;
    list-style: square;
    position: relative;
    left: 17px;
}

.skills__item ul li {
    padding: 2px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.footer__github {
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
}

.footer__github:hover {
    text-decoration: underline;
}

.footer__year {
    font-size: 2rem;
    font-weight: bold;
}

.footer__rsschool {
    max-width: 150px;
    width: 100%;
}

@media only screen and (max-width: 920px) {
    .container {
        padding: 0 10px;
    }

    .header {
        padding: 15px 0;
    }

    .header__container {
        min-height: auto;
        flex-direction: column;
        gap: 15px;
    }

    .footer__container {
        flex-direction: column;
        gap: 15px;
    }

    .about {
        flex-direction: column;
        gap: 0;
    }

    .about__photo {
        height: 300px;
    }
}